:root {
    --inbetween-yellow: rgb(255, 247, 0);
    --inbetween-yellow-transparent: rgba(255, 247, 0, .8);
    --inbetween-blue:#3c7ece;
    --inbetween-darkBlue: #1E3E67;
    --ti-cursor-color: var(--inbetween-yellow-transparent);
    --ti-cursor-font-weight: 0;
    --ti-cursor-font-family: "Barlow";
}

@font-face {
    font-family: Brandon;
    src: url("../media/Brandon_bld_it.otf") format("opentype");
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
    margin: 0 1.8vw 0 1.8vw;
    overflow-x: hidden;
}


/* || nav */

.flexWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  .flexWrapper li {
    font-size: calc(.1em + 1.5vw); 
    padding: .1em;
    margin: .8em;
    padding-top: .1em;
    margin-top: .5em;
    color: #17304F;
    letter-spacing: .5px;
  }

  header a {
    transition: all 0.3s;
    text-decoration: overline;
    text-decoration-thickness: 3px;
  }

  header .about {
    text-decoration: none;
  }

  header a:link,
  header a:visited {
    color: #17304F;
  }

  header a:hover {
    color: #7FA6D7;
  }

  header #contact:hover {
    color: #CF5C51;
  }

  /* || main */

  section#hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  section h1 {
    text-align: center;
    font-size: calc(3rem + 2vw + 2vh);
  }

  section h1 span {
    color: var(--inbetween-yellow);
    background-color: var(--inbetween-darkBlue);
    font-family: "Brandon", serif;
    margin-top: 3vh;
  }

  .tiny {
    font-size: calc(.5rem + .5vw + .5vh);
    line-height: 1rem;
  }


  /* || main goal */


  blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

  /* || aside */

  .asideNav {
    position: fixed;
    right: 0%;
    top: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  .asideNav li {
    margin: 1rem;
    margin-right: 0;
    width: 225px;
    text-align: center;
    background-color: var(--inbetween-darkBlue);
    color: var(--inbetween-yellow);
    font-size: calc(.5rem + 1vw);
    letter-spacing: 2px;

    transition: all .3s;
  }

  .asideNav a {
    display: block;
    padding: 1rem;
  }

  .asideNav a:link,
  .asideNav a:visited {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

  .asideNav a:hover {
    color: var(--inbetween-darkBlue);
    background-color: var(--inbetween-yellow);
  }
  

  @media screen and (max-width: 480px) {
    .asideNav {
      display: none;
    }

    section h1 {
      font-size: calc(1rem + 1vw + 1vh);
    }  
  }